{% extends 'main.html' %}

{% block content %}

<div>
<form method="POST" action="">
   {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label>Password:</label>
    <input type="text" name="password" placeholder="Enter password" />

    <input type="submit" value="login" />
</form>
<p>Dont't have an account?</p>
<p>Register here if you are a staff <a href="{% url 'MembershipStaff' %}">Register</a></p>
<p>Register here if you are a student <a href="{% url 'Membership' %}">Register</a></p>
</div>

{% endblock content %}